
.TreeViewCategory {
  width: 400px;
  display: inline-block;
  vertical-align: top;
}

.SelectedCategory {
  width: 400px;
  display: inline-block;
  vertical-align: top;
}

.PlayList {
  width: 400px;
  display: inline-block;
}

.MovieArea {
  display: inline-block;
  vertical-align: top;
}

.h1 {
  color: blue;
}